Chat_Assistent_Voice_2.json
{
  "name": "Chat Assistent Voice 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -340,
        0
      ],
      "id": "3660b4fc-0fac-4c95-8e2c-28345ea037e8",
      "name": "Telegram Trigger",
      "webhookId": "43e3f0aa-5a3e-4f24-a265-409086167cbf",
      "credentials": {
        "telegramApi": {
          "id": "FtECHdKeuaH4fuvu",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "message_thread_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        -80
      ],
      "id": "e601f495-dd43-4098-9703-a1c09fd71872",
      "name": "Telegram",
      "webhookId": "d435d35f-735b-4b7a-a467-b56fe1051619",
      "credentials": {
        "telegramApi": {
          "id": "FtECHdKeuaH4fuvu",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d3202b09-f192-4105-99f9-efb049f741ef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca619782-0829-4fb5-bb6b-42a5613b48e2",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -120,
        -140
      ],
      "id": "3c885b18-330c-423e-86c2-f5acde0a6929",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -100
      ],
      "id": "1b79fb4d-c3bd-4f5f-b2e8-a4a6c6eda254",
      "name": "Telegram1",
      "webhookId": "dfa61264-2fa0-4f80-8be9-25ae40d8d045",
      "credentials": {
        "telegramApi": {
          "id": "FtECHdKeuaH4fuvu",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        -100
      ],
      "id": "8db0fd81-d9f8-4408-a6d0-efb61aff0e9c",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ghNomWJHCgT1Oous",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffa5bea9-9af8-4a53-8fa9-16920b84d7ba",
              "name": "message_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        -100
      ],
      "id": "e46f598c-1944-4737-9a75-e64c4db188bd",
      "name": "Message Text1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffa5bea9-9af8-4a53-8fa9-16920b84d7ba",
              "name": "message.text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        -240
      ],
      "id": "e0b065de-9b8d-4fc1-9adb-6af4e259c60e",
      "name": "Message Text"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        640,
        -80
      ],
      "id": "7bcbad38-6e1b-4e60-b312-0c00095b3540",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffa5bea9-9af8-4a53-8fa9-16920b84d7ba",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        80
      ],
      "id": "ce5f1d09-59e8-46a9-ad34-9beebc41dd1e",
      "name": "Chat ID"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_fZVu0ThERh26aqpCN9oudSWt",
          "mode": "list",
          "cachedResultName": "Lyudmyla Tkachova helper"
        },
        "prompt": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        860,
        -80
      ],
      "id": "6b469cf2-e9f8-4c61-994b-fc4224acc892",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "IQAPL7JS47GRx9Xn",
          "name": "Lyuda2310"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat ID').item.json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1020,
        160
      ],
      "id": "d4f5454d-5c7f-460c-b716-1dbb2cb6a9bf",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Message Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Text1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat ID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d421f6e6-0180-4449-b265-0a5ffdc1845c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3eb345e211e9dff5e170cf6253b5b5fec6b2698fc61f49f1f816d92e1b4a9dad"
  },
  "id": "yd1fMbGByi6DS8hu",
  "tags": []
}