Шаблон из Базового урока.json
{
  "name": "Базовый урок",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8e0d4a0c-4425-4c63-b270-a0f2b2e743f3",
      "name": "Telegram Trigger",
      "webhookId": "c0259a9d-520a-43e7-bded-b81909aafaf0",
      "credentials": {
        "telegramApi": {
          "id": "FtECHdKeuaH4fuvu",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "62bd8510-7c7a-4e54-b141-53662272f957",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        240
      ],
      "id": "612777c3-a079-4110-9dcb-301fe23cad85",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IQAPL7JS47GRx9Xn",
          "name": "Lyuda2310"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "message_thread_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "653d0a96-0905-463f-9394-fd5c95803828",
      "name": "Telegram",
      "webhookId": "4aac75bd-85ae-422e-ac6d-73df343fd0b7",
      "credentials": {
        "telegramApi": {
          "id": "FtECHdKeuaH4fuvu",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d4fd984-7b83-442a-a8a3-e0c556bc7b8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3eb345e211e9dff5e170cf6253b5b5fec6b2698fc61f49f1f816d92e1b4a9dad"
  },
  "id": "ssv4JtkoAKq3Zgzm",
  "tags": []
}